:root{
  --c1: #1b1b1b;
  --c2: #323232;
  --c3: #ffe7d0;
  --c4: #fc6e20;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--c1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c4);
}

*, h1, h2, h3, h4, h5, h6{
  color: var(--c4) !important;
  font-family: 'Acme', sans-serif;
}

.body{
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  background-color: rgba(0, 0, 0, 0) !important;
}

nav a, .dropdown-content a{
  color: var(--c4) !important;
}

#mobile-demo, .dropdown-content{
  background-color: var(--c2) !important;
}

main{
  min-height: 72vh;
}

footer {
  width: 100%;
}

/* label color */
.input-field label {
 color: var(--c4);
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: var(--c4);
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid var(--c4) !important;
 box-shadow: 0 1px 0 0 var(--c4) !important;
}

.btn{
  background-color: var(--c4) !important;
  color: var(--c3) !important;
}
.btn:hover{
 background-color: var(--c3) !important;
 color: var(--c4) !important;
}
