{% extends "layout.html" %}
{% block content %}

<form action="" method="post">
  <h1>Inspyrobot</h1>
  <h5>An AI that INSPYRES you</h5>
  <br><br>

  <div class="input-field">
    {{ form.keyword() }}
    {{ form.keyword.label() }}
  </div>
  <div class="input-field">
    {{ form.submit(class="btn") }}
  </div>
</form>
<br><br>

{% if message %}

<div class="z-depth-3 w3-padding">
  <h4>Inspyrobot:</h4>
  {{ message }}
</div>
<br><br>
{% endif %}

<div class="z-depth-3 w3-padding">
  <span class="w3-xlarge">Try out the API via:
    <span style="text-decoration:underline;">
      /inspyre/
      ?q=<span id="kw" contenteditable="true" style="color:#ffe7d0 !important" onkeypress="go(event)">keyword</span>
    </span>
  </span>
  <script type="text/javascript">
  function go(e){
    if(e.keyCode === 13){
      e.preventDefault(); // Ensure it is only this code that rusn
      window.open("/inspyre/?q="+document.getElementById('kw').innerHTML, '_blank');
    }
  }
  </script>
</div>
<br><br>
{% endblock %}
