<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lambda</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme&display=swap">
  </head>
  <body>
    <div class="body">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/url">URL Classifier</a></li>
        <li><a href="/cuisine">Cuisine Classifier</a></li>
        <li><a href="/inspyrobot">Inspyrobot</a></li>
        <li><a href="#!">Spam Filter</a></li>
        <li><a href="/sentiment">Sentiment Analyser</a></li>
      </ul>
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Text Similarity</a></li>
        <li><a href="#!">Text Summarization</a></li>
        <li><a href="#!">Key Word Extraction</a></li>
        <li><a href="#!">Insight Extraction</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo w3-padding">Lambda</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2"><b>Text Mining</b><i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><b>Machine Learning Models</b><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li class="w3-padding"><h5>Machine Learning Models</h5></li>
        <li><a href="/url">URL Classifier</a></li>
        <li><a href="/cuisine">Cuisine Classifier</a></li>
        <li><a href="/inspyrobot">Inspyrobot</a></li>
        <li><a href="#!">Spam Filter</a></li>
        <li><a href="/sentiment">Sentiment Analyser</a></li>
        <li class="w3-padding"><h5>Text Mining</h5></li>
        <li><a href="#!">Text Similarity</a></li>
        <li><a href="#!">Text Summarization</a></li>
        <li><a href="#!">Key Word Extraction</a></li>
        <li><a href="#!">Insight Extraction</a></li>
      </ul>

      <main class="container">
        {% block content %}

        {% endblock %}

      </main>
      <footer class="w3-padding z-depth-3">
        <h5>&lt;/&gt; by <a href="https://ritvik19.github.io" target="_blank">Ritvik Rastogi</a></h5>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
